.question {
	padding: 10px;
	background-color: rgba(152,204,255,0.75);
	border-radius: 25px;
}

body {
	padding-left: 100px;
	padding-right: 100px;
}

.jumbotron {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
}