#house {
	padding: 10px;
	background-color: rgba(0,0,0,0.75);
	border-radius: 25px;
	color: rgb(255,255,255);
}

.question {
	padding: 10px;
	background-color: rgba(152,204,255,0.75);
	border-radius: 25px;
}

body {
	padding-left: 8%;
	padding-right: 8%;

/*cribbed from CSS Tricks*/
	background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	/*background-color: rgba(153,0,0,0.75);*/
	background-color: rgba(102,0,102,0.75);
	color: rgba(255,255,0,0.75);
}

.radio {

	padding-left: 15px;
}

.qtext {
	padding-left: 15px;
	padding-top: 5px;
}

.btn-primary {
	border-radius: 7px;	

}

#div-results {
	padding: 10px;
	background-color: rgba(0,0,0,0.75);
	border-radius: 25px;
	color: rgba(255,255,255,0.75);
	font-size: xx-large;

}

#p-results {
	text-align: center;
}